#!yaml|gpg

cron_email_backup_fail_check:
  image: rosscdh/cron_email_backup_fail_check:latest
  env_file: /etc/cron_email_backup_fail_check/.env
  user: root
  minute: 7
  hour: 2

  docker_env:
    USER_EMAIL: sendrossemail+cron_email_backup_fail_check@gmail.com
    USER_PASS_B64: test
    IMAP_ADDR: null
    IMAP_USER: null
    IMAP_PASS_B64: est
    IMAP_CONN: null
    ZABBIX_ALERT_EMAIL: null
    SUBJECT_REGEXP: null